:root {
    --background-color: #f5f4f4;
    /* --primary-color: #3e64ff; */
    --primary-color: #1fab89;
    --secondary-color: #230338;
    --padding-section: 6rem;
    --padding-large: 30rem;
    --padding-medium: 20rem;
    --padding-small: 10rem;
    --padding-xs: 5rem;
    --margin-xxs: 3rem;
    --margin-xs: 8rem;
    --h1: 5rem;
    --h2: 4rem;
    --h3: 3rem;
    --grid-gap: 2rem;
    --h1-large: 6rem;
    --h2-large: 5rem;
    --h3-large: 4rem;

}

@mixin respond($breakpoint) {
    @if ($breakpoint==phone) {
        @media screen and (max-width: 600px) {

            @content
        }
    }

    @if ($breakpoint==tabPort) {

        @media screen and (max-width: 900px) {

            @content
        }
    }

    @if ($breakpoint==tabLand) {

        @media screen and (max-width: 1200px) {

            @content
        }
    }

    @if ($breakpoint==desktop) {

        @media screen and (min-width: 1800px) {

            @content
        }
    }
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--primary-color);
    background: var(--secondary-color);
}

::selection {
    color: var(--primary-color);
    background: var(--secondary-color);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tabLand) {
        font-size: 56.25%;
    }

    @include respond(tabPort) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 37.5%;
    }
}


body {
    box-sizing: border-box;
    /* background: #333; */
    background: var(--background-color);
    font-family: "Poppins", sans-serif;

}

.navbar {
    background: var(--secondary-color);
    position: absolute;
    height: 10vh;
    color: var(--primary-color);
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;

    &__brand:link,
    &__brand:visited {
        color: white;
        text-decoration: none;
        display: block;
        font-size: 3rem;
        // padding-left: 5rem;
        align-self: flex-start;
        display: block;

        @include respond(tabPort) {
            // padding-left: 5rem;
            font-size: 4rem;
        }
    }

    &--center {
        @include respond(tabPort) {
            text-align: center;
        }
    }

    &__container {
        max-width: 90%;
        margin: 0 auto;
        width: 100%;
        padding: 0 5rem;
    }
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.hero-section {
    padding: 15rem 5rem;
    height: 85vh;
    margin-top: 10rem;


    @include respond(tabPort) {
        height: 75vh;
        padding: 10rem 1rem;
    }

    /* height: 100%; */
    &__content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }
}


.hero--content-left {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: start;


    @include respond(tabPort) {
        text-align: center;
    }
}

.hero--content-left .heading {
    font-size: var(--h1);

    @include respond(tabPort) {
        font-size: var(--h1);
    }

    @include respond(desktop) {
        font-size: var(--h1-large);
    }
}

.hero__subheading {
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin: 2rem 0;

    @include respond(desktop) {
        font-size: 3rem;
    }
}

.hero--content-left h2 span {
    font-weight: 600;
}

.hero--content-right {
    flex: 1;

    @include respond(tabPort) {
        display: block;
    }

    @include respond(tabPort) {
        display: none !important;
    }

    /* border: 2px solid blue; */
}

.hero--content-right {
    height: 80%;
    display: flex;
    justify-content: center;
}

.card__container {
    height: 100%;
    width: 60%;
}

.card__content {
    padding: 3rem 0rem;
    background: white;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    color: #a8a8a8;
    font-size: 2rem;
    border-radius: 0.7rem;
    align-self: center;
    transition: transform 0.3s;

    @include respond(desktop) {
        font-size: 2.5rem;

    }
}

.card__content:hover {
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateY(-0.4rem);
    color: #333;
    /* animation: hovering .1 ease-out infinite; */
}

.card__content:not(:last-child) {
    margin-bottom: 2rem;
}

.card {
    display: flex;
    padding: 0 3rem;
}

.card__left {
    flex: 1;

    /* padding-right: 15rem; */
    &::before {
        content: "\21be";
        color: var(--primary-color);
    }
}

.content--desc {
    margin: var(--margin-xxs) 0;
}

.card--link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 800;
    transition: all 0.2s;
}

.content--icon {
    width: 5rem;
    margin: 1rem 0;
}

.card--link:hover {
    border-bottom: 2px solid var(--primary-color);
}

/* Stats Block Classes */

.stats {
    padding: 2rem var(--padding-xs);

    @include respond(phone) {
        padding: 0;

    }
}

.stats__container {
    /* border: 2px solid blue; */
    padding: var(--padding-section) 0;
    display: grid;
    font-size: 4rem;
    grid-template-rows: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    text-align: center;

    @include respond(tabPort) {
        grid-gap: 6rem;
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {

        grid-template-columns: repeat(1, 1fr);
    }
}

.stat__box {
    background: white;
    // padding: 5rem 8rem;
    padding: 4rem 5rem;
    border-radius: 5px;
    transition: all 0.3s;
    border-top: 10px solid var(--primary-color);

    h2 {

        font-weight: normal;
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 900px) {

    .stat__box:hover {
        transform: translateY(-1rem) scale(1.05, 1.06);
        box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .stat__box:active {
        transform: translateY(0rem);
        box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

}

.stat__box .stat__box--small {
    font-size: 2rem;
    display: block;
}

/* Section classes */

.section--2 {
    color: var(--secondary-color);
    padding: var(--padding-small) var(--padding-xs);
    grid-gap: var(--grid-gap);
    grid-template-columns: 50% 50%;
    display: grid;
    align-items: center;

    text-align: start;

    @include respond(tabPort) {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 2rem;
        text-align: center;

    }
}

.img-container {
    // border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.section-2-left {
    // border: 2px solid orange;
    margin: 5rem 0;
}

.section-2--img {
    /* border: 2px solid blue; */
    // border: 2px solid red;
    width: 45rem;

    object-fit: contain;

    @include respond(desktop) {
        width: 60rem;

    }

    @include respond(tabPort) {
        max-width: 50rem;

    }

    @include respond(phone) {
        max-width: 70rem;
        width: 100%;
    }
}

.section--3 {
    /* border: 2px solid orange; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--grid-gap);
    /* border: 2px solid blue; */
    padding: var(--padding-section) 0;

    @include respond(tabPort) {
        grid-template-columns: repeat(1, 1fr);
        // padding: 0 2rem;
    }
}

.section--3 .card__content {
    color: var(--secondary-color);
    padding: 6rem 4rem;
    height: 100%;
    margin-bottom: 0;
}

.section--3 .card__content h3 {
    font-size: var(--h3);

    @include respond(desktop) {

        font-size: var(--h3-large);
    }
}

.section--4 {
    // background-image: url("./assets/vector.png");

    position: relative;

    @include respond(phone) {
        // background-image: url("./assets/phone_vector.png") !important;
    }

    z-index: 5000;


    // overflow-x: hidden;
    // overflow-y: visible;

    &:before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: -50px;
        left: 0;
        z-index: -100;
        transform: scale(1.1);
        background-image: url("./assets/phone_vector_svg.svg") !important;
        background-position: center;

        background-repeat: no-repeat;
        background-size: contain;
    }

    padding-bottom: 12rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.inside {
    @include respond(tabPort) {
        display: none;
    }
}

.footer {
    /* display: grid; */
    display: flex;
    /* border: 2px solid #42b883; */
    padding: 4rem 0;
    margin-bottom: 5rem;
    color: var(--secondary-color);
    /* grid-gap: var(--grid-gap); */
    /* grid-template-columns: 1.5fr repeat(5, 1fr); */
    justify-content: space-between;

    /* border: 2px solid blue; */
    @include respond(tabPort) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        // text-align: center;
    }
}

.footer__company-box {
    align-items: flex-end;
}

.footer div {
    /* border: 2px solid red; */
}

.footer__heading {
    font-size: 4rem;
}

.footer__nav {
    font-size: 2rem;
}

.footer__nav h3 {
    text-transform: uppercase;
}

.footer ul {
    list-style: none;
}

.footer__nav--link:active,
.footer__nav--link:link,
.footer__nav--link:visited {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    opacity: 0.5;
    display: inline-block;
    transition: all 0.2s;
    margin-top: 2rem;
    border-bottom: 3px solid transparent;
}

.footer__nav--link:hover {
    opacity: 1;
    border-bottom: 2.5px solid var(--primary-color);
}

/* Components */
.heading,
.heading--2 {
    font-size: var(--h2);
    color: var(--secondary-color);

    @include respond(desktop) {
        font-size: var(--h2-large);
    }
}

.button,
.button:visited,
.button:link {
    border: none;
    text-decoration: none;
    padding: 1.5rem 3.5rem;
    background: #333;
    color: white;
    font-size: 2rem;
    display: inline-block;
    width: auto;
    /* width: 50%; */
    box-shadow: 0rem 1rem 5rem rgba(0, 0, 0, 0.15);

    transition: all 0.2s;
    border-radius: 1rem;


    @media only screen and (min-width: 75em) and (max-width:120em) {
        padding: 1.5rem 4rem;
    }

    @include respond(desktop) {
        padding: 1.5rem 5rem;
    }
}

.button:active {
    /* opacity: .9; */
    opacity: 1;
}

.button--primary:link,
.button--primary:visited {
    background: var(--primary-color);

    @include respond(tabPort) {
        font-size: 2.5rem;
    }

    @include respond(desktop) {
        font-size: 3rem;
    }
}

.button--primary:hover {
    /* opacity: 0.8; */
    background: var(--secondary-color);
}

.button--primary:active {
    /* opacity: 0.8; */
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.1);
}

.subheading {
    font-size: 2rem;
    opacity: 0.75;
    display: block;

    @include respond(desktop) {
        font-size: 3rem;
    }
}

/* Utility classes */

.utility__padding {
    padding: var(--padding-medium) var(--padding-xs);
}

.utility__padding--sm {
    padding: var(--padding-small) var(--padding-xs);
}

.utility__padding--xs {
    padding: var(--padding-medium) var(--padding-xs);
}

.utility--text-center {
    text-align: center;
}

.utility__margin--y-1 {
    margin: 1.5rem 0;
}

.credits {
    // background: var(--primary-color);
    padding: 2rem;
    font-size: 2rem;
    text-align: center;

    .footer__nav--link {
        border-bottom: 2.5px solid var(--primary-color);
        opacity: .75;

        &:hover {

            opacity: 1;
        }
    }
}

/* Animations */

@keyframes hovering {
    0% {
        transform: translateY(-50rem);
    }

    100% {
        transform: translateY(0rem);
    }
}